meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='author' content='Chrisb')
meta(name="google-site-verification" content="uFT-2oMFvuzWDy-vUvNJoeyj5tKKVqoE5fj4X2fZWEc")

meta(name="viewport" content="width=device-width, initial-scale=1")
link(href='css/bootstrap.min.css', rel='stylesheet')
link(href='css/bootstrap-social.css', rel='stylesheet')
link(href='css/font-awesome.css', rel='stylesheet')
link(href='css/freelancer.min.css', rel='stylesheet')
link(href='css/shared.css', rel='stylesheet')

- var defaultTitle = 'PopCornStats'

if title
	title= title
else
	title= defaultTitle