doctype html
html(lang='en')
	head
		include shared/head
		meta(name='description', content='One-Stop Shop for Fantasy Sports, Yahoo Fantasy, Fantasy Basketball, PopCornStats')
		link(href='css/index.css', rel='stylesheet')

	body
		.banner
			include shared/banner
			
		.content
			- if (user && user.displayName) {
				h2 Welcome, #{user.displayName}
				
				a.btn.btn-default(href='/yahooTeamCompare') Yahoo Team Compare
			- } else {
				h2 Welcome

				h4 Please login to your Yahoo account

				.loginBtn.pull-left
					a.login.btn.btn-block.btn-social-icon.btn-yahoo(href='/auth/yahoo') 
						span.fa.fa-yahoo#yahooOverride
						.adjust Sign In With Yahoo!
			- }

		include shared/scripts